__pycache__/
.venv*/
.vscode/

.nextcloud*
.sync*

bin/
docs/
debug/
Grab alter Messungen/
plots/
messungen_pics/
messungen/
bilder-der-messung/
# stellarnet drivers
secrets.txt

# package files
*.egg
*.eggs/
.installed.cfg
*.egg-info
pip-wheel-metadata
dist/